body {
    font-family: "Overlock", Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: 0;
    color: #AC7FE8;
    background-color: #FFFF;
} 

.bodyAudioBookPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossIcon {
    width: 23px;
    margin: 53px 0 0 390px;
}

.audioBookInformations {
    display: flex;
    justify-content: center;
}

.audioBookCover {
    display: flex;
    width: 155px;
    height: 186px;
    border-radius: 5px;
    object-fit: cover;
    margin: 34px 0 0 10px;
}

.linldAndBookRank {
    display: flex;
    flex-direction: column;
    margin: 94px 0 0 22px;
}

.linldAndBookTitle {
    display: flex;
    font-size: 32px;
    margin: 0;
}

.starsRank {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.yellowStar {
    width: 20px;
}

.linldAndBookSubtitles {
    font-size: 16px;
    font-weight: lighter;
}

.audioBookReviewsBar {
    margin: 52px 0 0 33px;
}

.totalAtmosphere {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    text-align: center;
    margin: auto;
}

.atmosphere {
    font-size: 16px;
}

.iconAtmosphere {
    width: 37px;
}

.linldAndBookChapter {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    margin-left: 50px;
}

.chapterNumber {
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 0;
}

.chapterName {
    font-size: 32px;
    margin-bottom: 7px;
    margin-top: 0;
}

.chapterResume {
    font-size: 18px;
    margin: 0;
    margin-right: 50px;
}

.audioBookPageButtonContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.audioBookPageButton {
    position: absolute;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 100px;
    font-family: Overlock, sans-serif;
    display: flex;
    margin-top: 43px;
}

.audioBookPageButtonOne {
    background-color: #b19cd9;
    width: 370px;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.audioBookPageButtonTwo {
    border: #fff;
    border-width: 2px;
    background-color: #D2B9F3;
    display: flex;

}

.arrowIcon {
    width: 29px;
}

.playIcon {
    width: 30px;
}