
/* For WebKit browsers */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: #88888800;
    border-radius: 0px;
    border: 0px solid #ffffff00;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff00;
}

body {
    font-family: "Overlock", Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: 0;
    color: #AC7FE8;
    background-color: #FFFF;
} 

h2 {
    font-size: 31px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: 24px;
    color: #AC7FE8;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 5px;
}

.dropShadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.274);
}

.activityCarousel {
    margin-left: -8px;
    padding-inline-start: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 92vw);
    grid-column-gap: 10px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.searchIcon {
    position: absolute;
    left: 385px;
    top: 59px;
}

.navBar {
    position: fixed; /* Fixes the navbar to the bottom */
    bottom: 0; /* Aligns it to the bottom of the viewport */
    left: 0; /* Aligns it to the left of the viewport */
    right: 0; /* Aligns it to the right of the viewport */
    background-color: #ffffff; /* Navbar background color */
    color: white; /* Navbar text color */
    padding: 10px 0; /* Padding for the navbar */
    text-align: center; /* Center text in the navbar */
    z-index: 1000; /* Ensure the navbar is above other content */

}
.navBar ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar li {
    display: inline; /* Display list items inline */
    margin: 0 15px; /* Spacing between items */
}

.navBar a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
}

.navBar a:hover {
    text-decoration: underline; /* Underline on hover */
}

.content {
    height: 100vh; /* Make the content take the full height of the viewport */
}

.activityContainer {
    margin-left: 8px;
    margin-top: 69px;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.activityCard {
    width: 388px;
    height: 192px;
    background-color: #F9C7FA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    margin-bottom: 5px;
    margin-left: 8px;
}

.cardText {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cardTitle {
    font-size: 31px;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 5px;
}

.cardDescription {
    display: flex;
    font-size: 20px;
    margin: 0;
}

.mainLoginPage {
  text-align: center;
}

.popularBookContainer {
    margin-left: 8px;
    margin-top: 45px;
    /* display: flex; */
    flex-direction: column;
    align-items: start;
    gap: 25px;
    /* overflow: scroll; */
}

.popularBookCarousel {
    padding-inline-start: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 36vw);
    grid-column-gap: 10px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.bookCard {
    margin-left: 8px;
    width: 135px;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.categoryWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.categoryCard {
    width: 404px;
    height: 158px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    margin-bottom: 5px;
}

.description {
    color: #b19cd9;
    font-weight: bold;
    margin: 367px 0px 264px;
    padding-right: 170px;
}

.loginSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonsLogin {
    margin: 0 10px;
}

.loginButton, .facebookButton {
    font-family: Overlock, sans-serif;
    width: 370px;
    padding: 15px;
    border: none;
    border-radius: 100px;
    font-size: 26px;
    cursor: pointer;
}

.loginButton {
    background-color: #b19cd9;
    font-weight: bold;
    color: #fff;
    margin-bottom: 34px;
}

.facebookButton {
    background-color: #fff;
    color:#AC7FE8;
    border: 2px solid #AC7FE8
}

.facebookButton img {
    margin-right: 10px;
    margin-bottom: -5px;
    max-width: 10%;
    height: auto;
    color: #AC7FE8;

}

.line {
    border: none;
    height: 1px;
    background-color: #AC7FE8;
    margin: 20px 0 10px
}

.signup {
    color: #b19cd9;
}

.storyBookTitle {
    display: flex;
    margin-top: 80px;
    justify-self: center;
    font-size: 31px;
    h3 {
        margin-left: 5px;
    }
}


.excellentStoryBookContainer {
    margin-left: 8px;
    margin-top: 20px;
    flex-direction: column;
    align-items: start;
    h2 {
        font-size: 24px;
        margin-bottom: 5px;
        list-style-type: none;
        padding-left: 20px;
        border-left: 2.7px solid #AC7FE8;
    }
}

.excellentStoryBookCarousel {
    padding-inline-start: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 36vw);
    grid-column-gap: 10px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.musicPlayerStoryBookContainer {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 45px;
    flex-direction: column;
    align-items: start;
    h2 {
        font-size: 24px;
        margin-bottom: 25px;
        list-style-type: none;
        padding-left: 20px;
        border-left: 2.7px solid #AC7FE8;
    }
}

.musicPlayerStoryBookCard {
    height: 365px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 5px;
    p {
        font-size: 16px;
        /* margin: 5px; */
        margin-bottom: 30px;
    }
    span {
        font-size: 20px;
    }
}
.musicPlayerStoryBookText {
    color: #AC7FE8;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.reviewsBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;;
}

.pageNumber {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
progress {
    width: 100%;
    height: 3px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #AC7FE8;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #9FE7F9;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #9FE7F9;
    border-radius: 10px;
}

.reviewsQuotation {
    display: flex;
    flex-direction: column;
}

.avatarBar {
    display: flex;
}

.avatarBar img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -5px;
}

.message {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.messageAvatar img {

    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 50%;
}

.messageCard {
    display: flex;
    flex-direction: column;
    color: #000000;
    background-color: #D2B9F3;
    border-radius: 16px;
    padding: 15px;
    margin-top: 15px;
    gap: 15px;
}

.messageInfos {
    display: flex;
    justify-content: space-between;
}

.infosUser {
    display: flex;
    flex-direction: column;
}

.messageName {
    font-weight: bold;
    font-size: 20px;
}

.messageDate {
    font-style: italic;
    font-size: 16px;
}

.messageText {
    font-size: 12px;
}

.messageImg {
    width: calc(100% + 30px);
    height: 150px;
    object-fit: cover;
    margin-left: -15px;
    margin-bottom: -15px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.bodyBookPage {
  background-color: rgb(29, 27, 38);
  position: relative;
}

  .backgroundBookPage {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 100vh;
  }

  .backgroundBookPage:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
    background-image: url('assets/img/BookCover.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.25;
  }

  .LinldAndBookCover {
    position: relative;
    z-index: 2;
    display: flex;
    margin-top: 109px;
  }

  .bookPagePresentation {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bookPageSummury {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .bookPageTitles {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
  }

  .bookPageTitle {
    font-weight: bold;
    font-size: 36px;
    margin: 14px 0 0 0;
  }

  .bookPageAuthor {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }

  .bookPageTime {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin: 9px 0 0 0;
  }

  .bookPageIcons {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
  }

  .bookmarkIcon {
    width: 25px;
  }

  .menuIcon {
    width: 25px;
    margin-left: 16px;

  }

  .bookPageText {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 35px 15px 0 15px;
  }

  .bookPageButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
  }

  .borrowButton {
    background-color: #AC7FE8;
    color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 17px 50px;
    font-size: 26px;
    font-family: "Overlock", Arial, Helvetica, sans-serif;
  }

  .iconButton {
    background-color: #AC7FE8;
    color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 13px
  }

.iconsBookPage {
  width: 33px;
}

.bodyAudioBookPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crossIcon {
  width: 23px;
  margin: 53px 0 0 390px;
}

.audioBookInformations {
  display: flex;
  justify-content: center;
}

.audioBookCover {
  display: flex;
  width: 155px;
  height: 186px;
  border-radius: 5px;
  object-fit: cover;
  margin: 34px 0 0 10px;
}

.linldAndBookRank {
  display: flex;
  flex-direction: column;
  margin: 94px 0 0 22px;
}

.linldAndBookTitle {
  display: flex;
  font-size: 32px;
  margin: 0;
}

.starsRank {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.yellowStar {
  width: 20px;
}

.linldAndBookSubtitles {
  font-size: 16px;
  font-weight: lighter;
}

.totalAtmosphere {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.atmosphere {
  font-size: 16px;
}

.iconAtmosphere {
  width: 37px;
}

.linldAndBookChapter {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  margin-left: 50px;
}

.chapterNumber {
  font-size: 18px;
  margin-bottom: 7px;
  margin-top: 0;
}

.chapterName {
  font-size: 32px;
  margin-bottom: 7px;
  margin-top: 0;
}

.chapterResume {
  font-size: 18px;
  margin: 0;
  margin-right: 50px;
}

.audioBookPageButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.audioBookPageButton {
  position: absolute;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 100px;
  font-family: Overlock, sans-serif;
  display: flex;
}

.audioBookPageButtonOne {
  background-color: #b19cd9;
  width: 370px;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.audioBookPageButtonTwo {
  border:2px solid #ffffff;
  background-color: #D2B9F3;
  display: flex;

}

.arrowIcon {
  width: 29px;
}

.playIcon {
  width: 40px;
  height: auto;
}
